.home {
  width: 60rem;
  height: 90vh;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  h1 {
    font-size: 2rem;
  }

  .task_data {
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 90%;

    .data {
      background-color: skyblue;
      width: 90%;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      color: rgb(0, 0, 85);

      &::placeholder {
        color: darkcyan;
        font-weight: 100;
      }

      &.task_title {
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
      }

      &.task_details {
        height: 8rem;
        font-size: 1rem;
      }
    }
  }

  .add_task {
    background-color: transparent;
    color: darkcyan;
    border: 1px solid darkcyan;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: darkcyan;
    }
  }

  .taskNum {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 43, 43);

    div {
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;

      .search_icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      .search_bar {
        padding: 0.8rem 3rem 0.8rem 1rem;
        width: 20rem;
        border-radius: 0.2rem;
        color: rgb(0, 0, 85);
        font-size: 1rem;

        &::placeholder {
          color: darkcyan;
          font-weight: 100;
        }
      }
    }
  }

  .task_list {
    border-top: 1px solid darkcyan;
    padding: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 20rem;
    width: 100%;
    text-align: center;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: darkcyan;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgb(0, 173, 121);
    }
  }
}

.shadow {
  box-shadow: -3px -3px 7px rgb(74, 154, 185), 2px 2px 5px darkcyan;
}

.inner_shadow {
  box-shadow: inset -3px -3px 7px skyblue, inset 2px 2px 5px darkcyan;
}

.gradient_text {
  background: linear-gradient(89.97deg, #0086bb 1.84%, #00b97c 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
