.task {
  width: 100%;
  height: 10rem;
  max-height: 10rem;
  border: 1px dashed darkcyan;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: rgb(0, 0, 85);
  gap: 1rem;
  text-align: start;

  .title {
    font-size: 2rem;
  }

  .details {
    font-size: 1.3rem;
  }

  .remove {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    color: rgb(0, 0, 85);
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
